.chat-messages {
  flex: 1;
  overflow-y: auto;
  background-color: transparent;
  padding: 16px;
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-messages::-webkit-scrollbar {
  width: 16px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #2e3136;
  border-radius: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 8px;
  border: 4px solid #2e3136;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #18191c;
}
